.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: grey;
}
.two {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: red;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: blue;
}
.four {
  grid-column: 2 / 3;
  grid-row: 3;
  background-color: yellow;
}
.five {
  grid-column: 3;
  grid-row: 3;
  background-color: pink;
}


.six {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: auto;
  grid-column: 2 / 4;
  grid-row: 4;
  grid-gap: 20px;
  background-color: green;
}
